<div class="relative w-full bg-white px-6 pt-10 pb-8 mt-8 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto  sm:rounded-lg sm:px-10">
    <div class="mx-auto px-5">
        <div class="flex flex-col items-center">
            <h2 class="mt-5 text-center text-3xl font-bold tracking-tight md:text-5xl">FAQ</h2>
            <p class="mt-3 text-lg text-neutral-500 md:text-xl">Questions fréquemment posées</p>
        </div>
        <div class="mx-auto mt-8 grid divide-y divide-neutral-200">
            <!-- Question: Quels sont les sites de torrent les plus populaires ? -->
            <div class="py-5">
                <details class="group">
                    <summary class="flex cursor-pointer list-none items-center justify-between font-medium">
                        <span>Quels sont les sites de torrent les plus populaires ?</span>
                        <span class="transition group-open:rotate-180">
                            <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24">
                                <path d="M6 9l6 6 6-6"></path>
                            </svg>
                        </span>
                    </summary>
                    <p class="group-open:animate-fadeIn mt-3 text-neutral-600">Les sites de torrent les plus populaires incluent The Pirate Bay, 1337x, et RARBG.</p>
                </details>
            </div>
            <!-- Question: Comment les pirates contourner les blocages de sites de torrent ? -->
            <div class="py-5">
                <details class="group">
                    <summary class="flex cursor-pointer list-none items-center justify-between font-medium">
                        <span>Comment les pirates contourner les blocages de sites de torrent ?</span>
                        <span class="transition group-open:rotate-180">
                            <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24">
                                <path d="M6 9l6 6 6-6"></path>
                            </svg>
                        </span>
                    </summary>
                    <p class="group-open:animate-fadeIn mt-3 text-neutral-600">Les pirates utilisent des VPN, des proxys, et changent régulièrement de nom de domaine pour contourner les blocages et accéder aux sites de torrent.</p>
                </details>
            </div>
            <!-- Question: Comment accéder à tous les torrents sur un site donné ? -->
            <div class="py-5">
                <details class="group">
                    <summary class="flex cursor-pointer list-none items-center justify-between font-medium">
                        <span>Comment accéder à tous les torrents sur un site donné ?</span>
                        <span class="transition group-open:rotate-180">
                            <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24">
                                <path d="M6 9l6 6 6-6"></path>
                            </svg>
                        </span>
                    </summary>
                    <p class="group-open:animate-fadeIn mt-3 text-neutral-600">Pour accéder à tous les torrents d'un site, utilisez la fonction de recherche avancée ou parcourez les catégories disponibles sur le site de torrent.</p>
                </details>
            </div>
            <!-- Question: Qu'est-ce qu'un tracker torrent et pourquoi est-il important ? -->
            <div class="py-5">
                <details class="group">
                    <summary class="flex cursor-pointer list-none items-center justify-between font-medium">
                        <span>Qu'est-ce qu'un tracker torrent et pourquoi est-il important ?</span>
                        <span class="transition group-open:rotate-180">
                            <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24">
                                <path d="M6 9l6 6 6-6"></path>
                            </svg>
                        </span>
                    </summary>
                    <p class="group-open:animate-fadeIn mt-3 text-neutral-600">Un tracker torrent est un serveur qui aide à coordonner la distribution des fichiers en P2P, permettant de localiser les sources (seeders) pour chaque fichier téléchargé.</p>
                </details>
            </div>
            <!-- Question: Quels sont les risques associés au piratage de contenus en ligne ? -->
            <div class="py-5">
                <details class="group">
                    <summary class="flex cursor-pointer list-none items-center justify-between font-medium">
                        <span>Quels sont les risques associés au piratage de contenus en ligne ?</span>
                        <span class="transition group-open:rotate-180">
                            <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24">
                                <path d="M6 9l6 6 6-6"></path>
                            </svg>
                        </span>
                    </summary>
                    <p class="group-open:animate-fadeIn mt-3 text-neutral-600">Le piratage de contenus en ligne expose à des risques légaux, des amendes, et à des dangers informatiques comme les malwares et les virus.</p>
                </details>
            </div>
            <!-- Question: Pourquoi Zone Téléchargement est-il populaire parmi les utilisateurs ? -->
            <div class="py-5">
                <details class="group">
                    <summary class="flex cursor-pointer list-none items-center justify-between font-medium">
                        <span>Pourquoi Zone Téléchargement est-il populaire parmi les utilisateurs ?</span>
                        <span class="transition group-open:rotate-180">
                            <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24">
                                <path d="M6 9l6 6 6-6"></path>
                            </svg>
                        </span>
                    </summary>
                    <p class="group-open:animate-fadeIn mt-3 text-neutral-600">Zone Téléchargement est populaire pour sa vaste bibliothèque de films, séries, et logiciels, ainsi que pour son interface facile à utiliser et ses téléchargements rapides.</p>
                </details>
            </div>
            <!-- Question: Comment puis-je accéder à un site de torrent bloqué ? -->
            <div class="py-5">
                <details class="group">
                    <summary class="flex cursor-pointer list-none items-center justify-between font-medium">
                        <span>Comment puis-je accéder à un site de torrent bloqué ?</span>
                        <span class="transition group-open:rotate-180">
                            <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24">
                                <path d="M6 9l6 6 6-6"></path>
                            </svg>
                        </span>
                    </summary>
                    <p class="group-open:animate-fadeIn mt-3 text-neutral-600">Pour aller sur le site d'un torrent bloqué, utilisez un VPN ou un proxy pour masquer votre IP et contourner les restrictions d'accès.</p>
                </details>
            </div>
            <!-- Question: Comment naviguer en toute sécurité sur les sites de torrent ? -->
            <div class="py-5">
                <details class="group">
                    <summary class="flex cursor-pointer list-none items-center justify-between font-medium">
                        <span>Comment naviguer en toute sécurité sur les sites de torrent ?</span>
                        <span class="transition group-open:rotate-180">
                            <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24">
                                <path d="M6 9l6 6 6-6"></path>
                            </svg>
                        </span>
                    </summary>
                    <p class="group-open:animate-fadeIn mt-3 text-neutral-600">Pour naviguer en toute sécurité sur les sites de torrent, activez un VPN, utilisez un bloqueur de publicités et assurez-vous d'avoir un antivirus à jour.</p>
                </details>
            </div>
            <!-- Question: Où puis-je télécharger des mangas en version numérique ? -->
            <div class="py-5">
                <details class="group">
                    <summary class="flex cursor-pointer list-none items-center justify-between font-medium">
                        <span>Où puis-je télécharger des mangas en version numérique ?</span>
                        <span class="transition group-open:rotate-180">
                            <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24">
                                <path d="M6 9l6 6 6-6"></path>
                            </svg>
                        </span>
                    </summary>
                    <p class="group-open:animate-fadeIn mt-3 text-neutral-600">Vous pouvez télécharger des mangas en version numérique sur des sites comme MangaDex ou Nyaa, qui offrent une large sélection de titres populaires en plusieurs langues.</p>
                </details>
            </div>
        </div>
    </div>
</div>
